@charset 'UTF-8';

// Init variables
@import 'variables';

// Add library
@import 'library';

/* slider styling */
.slider-buttons {
  clear:both;
  width:115px;
  margin: 0 auto;
  position: relative;
  top: 50px;
  a{
    width: 54px;
    height: 52px;
  }
}

.nf-before-form-content {
  display: none;
}

.referral-program {
  display: none;
}

.inverse{
  border: 2px solid #fff;
}

.listings-wrapper {
  @include bp(large){
    padding: 0 30px;
  }
  @include bp(huge){
    padding: 0 30px;
  }
}

.custom-nf-wrapper {
  align-items: center;
  display: flex;
  width: 100%;
.nf-row {
  float: left;
  }
}

/* MISC STYLING */

table.dataTable thead th, table.dataTable thead td {
  padding: 8px 0!important;
  border-bottom: 1px solid #111!important;
  border-top: 1px solid #111!important;
  }

.modal-overlay{
  display: none;
  width:100%;
  height:100%;
  position: fixed;
  top:0;
  left:0;
  background: $black;
  z-index: 9999999;
  overflow-y: scroll;
  .job-form-headline {
    font-size: 1.5rem;
    margin-bottom: .25em;
    margin-top: .5em;
  }
  /* actual modal */
  & .modal {
    width:75%;
    @include bp(small){
      width: 100%;
    }
    @include bp(medium){
      width: 100%;
    }
    max-width: 800px;
    margin:0 auto;
    @include border-radius($radius);

    /* modal toggle */
    & .modal-toggle {
      float: right;
      position: relative;
      padding: 3%;
      font-size: 1.5rem;
      z-index: 99999999;
    }

    #resume-file {
      margin: 2px 0;
    }
  }

} // .end modal-overlay


/* blurp pushdown */
.blurp-pushdown {
  top: 75px;
  position: relative;
  @include bp(small){
    top: 0;
  }
  @include bp(medium){
    top: 0
  }
}

svg#mobile-logo {
  width: 160px!important;
  @include bp(small){
    width: 85px!important;
    margin: 0 auto;
  }
  @include bp(medium){
      width: 120px!important;
      margin: 0 150px;
  }
}

.st0{fill:#FFFFFF;}

.mobile-menu-toggle-wrapper{
  svg#mobile-logo {
    .cls-2{
      fill: $white;
      }
  }
}




/* listings page styling  */
td.show-details{
  cursor: pointer;
  }

td.details-control {
  background: url('/wp-content/themes/ntelicor-theme/img/details_open.png') no-repeat center center;
  cursor: pointer;
  }

tr.shown td.details-control {
  background: url('/wp-content/themes/ntelicor-theme/img/details_close.png') no-repeat center center;
  }


.panel {
  background: white;
  color: black;
  border-radius: $radius;
  padding: 12px 24px;
  margin: 15px 0;
  &.blog-panel {
    // height: 400px;
    margin: 15px 0!important;
    h2 {
      margin: 1em 0;
      padding: 0;
      }
    }
  h2 {
    padding: 12px 0 0 0;
    line-height: 1;
    margin: 0;
    font-weight: bold;
    }
  @include bp(small){
    padding: 6px;
    margin: 12px 0px;
    }
  }


.section-1 {
  @include bp(small){
    background: $red;
    padding: 10px 0;
    }
  @include bp(medium){
    background: $red;
    padding: 50px 0;
    margin-top: 50px;
    }
  @include bp(huge){
    //background-image: url(../img/sm-dashed-hexagon-no-fill.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-top: 100px;
    padding-top: 100px;
    }
  }


#fill-positions-content-wrapper {
  margin-bottom: 50px;
  @include bp(small){
    margin-top: 25px;
    }
  @include bp(medium){
    margin-top: 35px;
    }
  @include bp(large){
    margin-top: 250px;
    }
  @include bp(huge){
    margin-top: 250px;
    }
  .fill-positions-blurp{
    @include bp(landscape){
      position: relative;
      top: 100px;
      left: -100px;
      }
    @media (min-width: 846px) and (max-width: 1023px){
      top:150px;
      left: 50px;
      }
    }
  }


.our-clients {
  @include bp(small){
    margin-top: 0;
    padding: 0;
    }
  @include bp(medium){
    margin-top: 50px;
    padding: 50px 0;
    }
  @include bp(large){
    margin-top: 250px;
    padding: 100px 0;
    }
  @include bp(huge){
    margin-top: 250px;
    padding: 100px 0;
    }
  }

.client-logos-wrapper {
  .client-logos {
    height: 200px;
    align-items: center;
    display: flex;
    img {
      margin: 0 auto;
      }
    }
  }


.it {
  padding: 100px 0;

  .it-img {
    border-right: 1px solid;
    height: 500px;
    border-color: #7d7d7d;
    @include bp(small) {
      height: auto;
      border-right: none;
      }

    @include bp(medium) {
      border-right: none;
      height: auto;
      }
    @include bp(large) {
      border-right: none;
      height: auto;
      }
    }

  }

/* OVERLAY FOR CONTACT PAGE */
.contact-hero {
  position: relative;
  &:before{
    content: "";
    background: linear-gradient(to top,#000000, rgba(#000000, 0));
    height: 100%;
    width: 100%;
    padding: 100px 0;
    position: absolute;
  }
}

/* overlay for simplify staffing page */
.call-to-action {
  position: relative;
  /*&:before{
    content: "";
    background: linear-gradient(to top,#000000, rgba(#000000, 0));
    height: 100%;
    width: 100%;
    padding: 100px 0;
    position: absolute;
  }*/
}


.section-4 {
  background-image: url(../img/section-4-bg.jpg);
  background-size: cover;
  background-position: top center;
  padding: 100px 0;
  margin-top: -1px;
  margin-bottom: -1px;
  position: relative;
  @include bp(small){
    padding:50px 0;
    }
  &:before { // overlay
    content: "";
    background: rgba(0,0,0,.33);
    height: 100%;
    width: 100%;
    padding: 100px 0;
    position: absolute;
    margin: -100px 0;
    }
}

.section-5 {
  background: #000;
  margin-bottom: -1px;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    display: block;
    //background-image: url(../img/red-usa-map.png);
    background-repeat: no-repeat;
    background-position: left;
    width: 100%;
    height: 868px;
    @include bp(small){
      display: none;
      }
    @include bp(medium){
      display: none;
      }
    @include bp(huge){
      background-size: 55%;
      }
    }
  }

#animated-usa {
  display: block;
  position: relative;
  width:100%;
  @include bp(small){
    //display: none;
    }
  @include bp(large){
    width: 135%;
    left: -20%;
    }
  @include bp(huge){
    width: 135%;
    left: -20%;
    }
  }

.animated-usa-copy {
  margin: 0;
  padding: 0 30px;
  @include bp(huge){
    margin: 0 -75px;
    position: relative;
    top: 25px;
    padding: 0 30px;
    }
  @include bp(large){
    position: relative;
    top: 0;
    padding: 0 30px;
    }
  }

.animated-usa-wrapper {

  }

.testimonials {
  padding: 150px 0;

  @include bp(small){
    padding:50px 0;
    }
  }

.testimonial-slider {
  padding: 50px 0;
  @include bp(small){
    padding:25px 0;
  }

}


footer {
  padding: 3em 0;
  .logo {
    height: 125px;
    img {
      width: 140px;
      padding: 0 5px;
    }
    @include bp(small){
      margin: 0 auto;
      width:140px;
    }
  }

  .social-links {
    padding: 0!important;
    margin: 4em 0;
    @include bp(small){
      text-align: center;
    }
    @include bp(medium){
      text-align: center;
    }
    @include bp(large){
      text-align: right;
    }
    @include bp(huge){
      text-align: right;
    }

    li {
      display: inline-flex;
      a {
        width: 50px;
        margin: 0 1em;
      }
    }
  }

  nav.main-menu {
    float:right;
    text-align: right;
    ul {
      li {
        display: inline-flex;
        a {
          color: $gray;
          margin: 0 5px;
          &:hover,&:active{
            color: $red;
            }
          }
        &.current-menu-item{
          a {
            color: $red!important;
            }
          }
        }
      }
    @include bp(small){

      }
    @include bp(medium){
      display: none;
      }
  }

}

.footer-cta {
  background-image: url(../img/footer-cta-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  .nf-field-label,.nf-form-fields-required {
    display: none;
  }
  .nf-form-wrap.ninja-forms-form-wrap {
    margin-top: 100px;
  }
  .nf-error-msg {
    color: white;
  }

  #nf-field-8-wrap .nf-field-element {
    text-align: center;
  }

  input#nf-field-8 {
    width: 200px;
  }
}

.overlay:before {
  position: absolute;
  content: " ";
  width: 100%;
  height: max-content;
  background: rgba(0,0,0,.75);
  background: linear-gradient(0deg, black 35%, rgba(255, 255, 255, 0) 100%);
}

.darker-overlay:before {
  position: absolute;
  content: " ";
  width: 100%;
  height: -webkit-fill-available;
  background: rgba(0,0,0,.9);
}

/* BLOG PAGE STYLING */
.blog-hero {
  background: url(../img/blog-hero-background.png);
}

.grid-item { width: 200px; }


.background-image {
  background-size: cover!important;
  background-position: center center!important;
  background-repeat: no-repeat!important;
}

.simply-staffing {
  padding: 100px 0;
}


.simply-staffing-blurp {
  position: absolute;
  bottom: 25px;
}

.position-bottom {
  position: absolute;
  bottom: 50px;
}

.position-near-bottom {
  img {
    position: absolute;
    bottom: -50px;
  }
}


.contact-hero {
  .label-hidden .nf-field-label {
    display: none;
  }
  .nf-field-label,.nf-form-fields-required {
    display: none;
  }
  .nf-form-wrap.ninja-forms-form-wrap {
    margin-top: 100px;
  }
  .nf-error-msg {
    color: white;
  }

  #nf-field-8-wrap .nf-field-element {
    text-align: center;
  }

  input#nf-field-8 {
    width: 200px;
  }
}





/* LISTINGS PAGE STYLING */
.page-template-page-listings{
  iframe {
    width: 100%!important;
    }
  }


/* INDEX / BLOG / ARCHIVE */
.quick-links-wrapper {
  margin: 50px 0 200px;
  .quick-links {
    ul{
      padding-left: 0;
      }
    li {

      list-style: none;
      margin: 0;

      line-height: 1;
      }
    a {
      font-family: $heading-font;
      font-size: 2em;
      }
    }
  }

