/**
 *  VARIABLES
 *
 *  Configure sierra SCSS library by adjusting this file
 *
 */

$gray:                  #efefef;
$gray-light:            rgb(245, 245, 245);
$deep-blue:             #171722; // Deprecated
$white:                 #ffffff;
$red:                   #eb2227;
$black:                 #000000;

// Brand colors
$brand-primary:         $red;
$brand-secondary:       $black;
$brand-dark:            #18232f;
$brand-light:           $white;

$color-success:         #4caf50;
$color-info:            #5bc0de;
$color-warning:         #f0ad4e;
$color-error:           #e74c3c;

$body-bg:               $white;



// Borders
$border-color:          #465f78;

// Shadows
$shadow-color:          rgba(0, 0, 0, .2);
$box-shadow:            0 0 5px $shadow-color;


/* gradients */

$gradient-gray-to-blk: (
  background: linear-gradient(to right, #404040 50%,#040404 100%), /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
);




// Social colors
$fb: rgb(59, 89, 182);
$tw: rgb(64, 153, 255);
$googleplus: rgb(215, 61, 50);
$pinterest: rgb(203, 32, 39);
$skype: rgb(18, 165, 244);
$spotify: rgb(129, 183, 26);
$instagram: #4e433c;
$tumblr: #2b4964;
$vimeo: #86b32d;
$soundcloud: #f76600;
$youtube: #ff3333;
$linkedin: #4875b4;
$flickr: #fe0883;
$foursquare: #8fd400;

// Text colors
$text-color:            $black;       // deprecated. Use $text-body instead.
$text-body:             $text-color;
$text-gray:             #5f5f5f;

$text-color-map: (
  primary:              $brand-primary,
  secondary:            $brand-secondary,
  body:                 $text-body,
  gray:                 $text-gray,
  green:                $color-success,
  success:              $color-success,
  red:                  $color-error,
  error:                $color-error,
  warning:              $color-warning,
  black:                $black
);


/**
 *  LAYOUT
 */

$gutterwidth:               24px;
$container-maxwidth:        1380px;
$container-medium-maxwidth: 944px;
$container-small-maxwidth:  400px;
$radius:                    23px;
$border-box:                true;


/**
 *  MEDIA QUERIES BREAKPOINTS
 */

// Extra small screen / phone
//** Deprecated `@screen-xs` as of v3.0.1
$screen-xs:                  480px;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min;
$screen-tablet-portrait:     1024px;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px;
$screen-md-min:              $screen-md;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1280px;
$screen-lg-min:              $screen-lg;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);


/**
 *  BOOTSTRAP GRID SYSTEM CONFIG
 */

// Number of columns in the grid.
$grid-columns:              12;

// Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         30px;

// Navbar collapse (point at which the navbar becomes uncollapsed.)
$grid-float-breakpoint:     $screen-sm-min;

//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1);


// CAUTION: This container sizes are deprecated. Use $container-maxwidth instead.

// Small screen / tablet
$container-tablet:             auto; // (720px + $grid-gutter-width);
//** For `$screen-sm-min` and up.
$container-sm:                 auto; // $container-tablet;

// Medium screen / desktop
$container-desktop:            auto; // (940px + $grid-gutter-width);
//** For `$screen-md-min` and up.
$container-md:                 auto; // $container-desktop;

// Large screen / wide desktop
$container-large-desktop:      (1140px + $grid-gutter-width);
//** For `$screen-lg-min` and up.
$container-lg:                 $container-large-desktop;


/**
 *  COMPONENTS
 */

// Background colors
$background-color-map: (
  'primary':              $brand-primary,
  'dark':                 $brand-dark,
  'secondary':            $brand-secondary,
  'white':                $white,
  'success':              $color-success,
  'info':                 $color-info,
  'warning':              $color-warning,
  'error':                $color-error,
  'gray':                 $gray,
  'gray-light':           $gray-light,
  'red':                  $red,
  'black':                $black
);

// Badges
$badge-color:           $text-body;
$badge-bg:              $brand-light;
$badges-color-map: (
  primary:              $brand-primary,
  secondary:            $brand-secondary,
  dark:                 $brand-dark,
  light:                $gray,
  success:              $color-success,
  error:                $color-error,
  warning:              $color-warning
);

// Buttons
$button-bg-color:       $red; // default color for buttons
$button-text-color:     $white; // default color for buttons
$button-border-color:   $body-bg;
$button-border-radius:  2em;
$button-sizes: (
  'normal': (
    fontSize: 16px,
    lineHeight: 2,
    paddingTB: 5px,
    paddingLR: 15px
  ),
  'big': (
    fontSize: 18px,
    lineHeight: 1.5,
    paddingTB: 10px,
    paddingLR: 30px
  ),
  'small': (
    fontSize: 11px,
    lineHeight: 1.273,
    paddingTB: 6px,
    paddingLR: 20px
  ),
  'huge': (
    fontSize: 16px,
    lineHeight: 1.5,
    paddingTB: 15px,
    paddingLR: 30px
  ),
  'hugeLg': (
    fontSize: 18px,
    lineHeight: 1.5,
    paddingTB: 18px,
    paddingLR: 50px
  )
);

// Forms
//$form-bg-color:               $brand-light;
$form-bg-color:               #c8c8c8;
$form-text-color:             $text-body;

// Loading spinner
$loading-spinner-bg:          $white;

// Paginator
$paginator-item-radius:       $radius;
$paginator-item-bg:           $brand-light;
$paginator-item-color:        $text-body;
$paginator-item-border:       $body-bg;         // only for compact paginator
$paginator-item-active-bg:    $brand-primary;
$paginator-item-active-color: $text-body;

// Rating circle
$rating-bg:                   $brand-light;

// Rating colors
$rating1:     #dd2c00;
$rating2:     #ff5722;
$rating3:     #ff9800;
$rating4:     #ffc107;
$rating5:     #f5dc00;
$rating6:     #cddc39;
$rating7:     #8bc34a;
$rating8:     #4caf50;
$rating9:     #43a047;
$rating10:    #388e3c;

$background-color-map: map-merge($background-color-map, (
  rating1:    $rating1,
  rating2:    $rating2,
  rating3:    $rating3,
  rating4:    $rating4,
  rating5:    $rating5,
  rating6:    $rating6,
  rating7:    $rating7,
  rating8:    $rating8,
  rating9:    $rating9,
  rating10:   $rating10
));

// Tables
$table-bg-color:        $brand-light;
$table-header-bg-color: $body-bg;
$table-text-color:      $text-body;

// Tags
$tag-text-color:        $text-body;
$tag-bg-color:          $brand-light;
$tag-bullet:            $body-bg;

// Typography
//$basefont: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
$codefont: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
$basefont: 'Barlow', sans-serif;


$font-size-base:        14px;
$font-size-base-medium: 15px;
$font-size-base-large:  15px;

$line-height-base:      1.5em;
$font-weight-base:      400;

$heading-font:          'Barlow', sans-serif;
$heading-font-thin: 'Barlow Semi Condensed', sans-serif;
$heading-weight:        300;
$heading-case:          none;



/* GRADIENTS */

.red-to-darkred {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#404040+0,040404+100 */
  background: #eb2227; /* Old browsers */
  background: -moz-linear-gradient(left, #eb2227 0%, #b51619 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #eb2227 0%,#b51619 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #eb2227 0%,#b51619 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb2227', endColorstr='#b51619',GradientType=1 ); /* IE6-9 */

  &.left-red-hexagon {
    background: #eb2227; /* Old browsers */
    background: -moz-linear-gradient(left, #b51619 0%, #eb2227 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #b51619 0%,#eb2227 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #b51619 0%,#eb2227 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b51619', endColorstr='#eb2227',GradientType=1 ); /* IE6-9 */
    }


  }