
/* new dope filter */
ul.category-filter {
padding: 0px;
margin-top: 5px;
background: $brand-primary;
width: 230px;
  li {
    font-family: $heading-font;
    padding: 10px;
    color: $white;
    font-weight: bold;
    z-index: 2;
    list-style: none;
    margin: 0;
    cursor: pointer;
  }
  li:not(.init) {
    //float: left;
    width: 275px;
    display: none;
    background: $brand-primary
  }
  li:not(.init):hover, ul li.selected:not(.init) {
    background: white;
    color: $brand-primary;
    width:280px
  }
  li.init {
    background-color: $brand-primary;
    //background-image: url(/wp-content/themes/ntelicor-theme/img/angle-down.svg);
    //background-size: 25px;
    //background-position: center right 10px;
    //background-repeat: no-repeat;
    }
}









.category-filters-wrapper {
  font-size: 24px;
  margin: 25px 0;
  }


.primary-content {
  padding: 4em 0;
}

.tags-wrapper {
  position: relative;
  top: 20px;
  p {
    font-family: 'Barlow';
    font-weight: 800;
    letter-spacing: 0px;
    text-transform: uppercase;
  }
  a {
    font-weight: bold;
    }
}


div.random-colored-dash{
    position: relative;
    top: 30px;
    left: 2px;
    background-image: url(../img/dash-grey.png);
    background-repeat: no-repeat;
    width: 226px;
    height: 18px;
  }



.blog-metadata {
  margin-top: 1em;
  margin-bottom: .25em;
  padding: 1em 0;
  span.date{
    font-family: $heading-font;
    font-size: 1rem;
    font-weight: 800;
    margin: 0 12px 0 0;
  }
  span.category{
    color: $red;
    font-family: $heading-font;
    font-size: 1rem;
    font-weight: 800;
  }
}

/* TYPOGRAPHY */

h1,h2,h3,h4,h5,h6 {
  line-height: 1.3em;
  margin-bottom: 1em;
  margin-top: 1em;
  }

h1{
  font-family: $heading-font;
  font-weight: 700;
  font-size: 90px;
  text-transform: uppercase;
  letter-spacing: -5px;
  @include bp(small) {
    font-size: 52px;
    letter-spacing: -2px;
    line-height: 1;
    }

  @include bp(medium) {
    font-size: 76px;
    letter-spacing: -2px;
    line-height: 1;
    }

  @include bp(large) {
    font-size: 90px;
    letter-spacing: -2px;
    line-height: 1;
    }
  @include bp(huge) {
    font-size: 96px;
    letter-spacing: -2px;
    line-height: 1;
    }
  }

h2 {
  font-family: $heading-font;
  font-weight: 700;
  letter-spacing: -2px;
  line-height: 1;
  font-size: 3rem;
  @include bp(small) {
    line-height: .85;
    //font-size: 50px;
    }

  @include bp(medium) {
    line-height: .85;
    //font-size: 60px;
    }

  @include bp(large) {
    line-height: .95;
    //font-size: 75px;
    }
  @include bp(huge) {
    line-height: .95;
    //font-size: 75px;
    }
  }

h3 {
  font-family: $heading-font;
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 500;
  text-transform: none;
  letter-spacing: -1px;
  }

h4 {
  font-family: $heading-font;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 700;
  text-transform: none;
  letter-spacing: -1px;
  }

h5 {
  font-family: $heading-font-thin;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0px;
  }

h6 {
  font-family: $heading-font-thin;
  font-size: 1.4rem;
  line-height: 1;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0px;
  }

blockquote {
  padding: 1em;
  background: rgba(0,0,0,.05);
  border-left: 5px solid #eb2228;
  }