/**
 *  BUTTONS
 */

// reset default buttons
button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}


//input#nf-field-17 {
//  min-width: 150px!important;
//  text-align: left!important;
//  background-image: url(/wp-content/themes/ntelicor-theme/img/arrow-alt-circle-right.svg)!important;
//  background-repeat: no-repeat!important;
//  background-position: right 10px center!important;
//  background-size: 20%!important;
//  }

.button {
  $button-meta: map-get($button-sizes, normal);
  padding: map-get($button-meta, paddingTB) map-get($button-meta, paddingLR);
}

.button,input[type=button],button.slick-arrow  {
  $button-meta: map-get($button-sizes, normal);
  border: none;
  background-color: $button-bg-color;
  &.button-border {
    border: 1px solid $button-border-color;
  }

  border-radius: $button-border-radius;
  color: $button-text-color;
  display: inline-block;
  font-family: $heading-font!important;
  font-size: map-get($button-meta, fontSize) + 4;
  font-weight: 600!important;
  //line-height: #{map-get($button-meta, lineHeight)}em;
  line-height: 2;
  margin: 10px 0;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: opacity .2s ease-in-out;
  white-space: nowrap;

  // FILE INPUT BUTTON
  /*.btn-success.nf-fu-fileinput-button {

  }*/

  &.red-gradient {
    ///* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#404040+0,040404+100 */
    background: #eb2227; /* Old browsers */
    background: -moz-linear-gradient(left, #eb2227 0%, #b51619 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #eb2227 0%,#b51619 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #eb2227 0%,#b51619 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb2227', endColorstr='#b51619',GradientType=1 ); /* IE6-9 */
    //@include horizontal-gradient("#eb2227","#b51619");
    }

  &.no-border {
    border: none!important;
    }


  &:focus,
  &:hover,
  &:active {
    color: $white;
  }

  &:hover {
    cursor: pointer;
    //opacity: .8;
    text-decoration: none;
  }

  &:active {
    opacity: 1;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  // Sizes
  &.button {
    &-big {
      $button-meta: map-get($button-sizes, big);

      border-radius: $button-border-radius;
      font-size: map-get($button-meta, fontSize);
      line-height: #{map-get($button-meta, lineHeight)}em;
      padding: map-get($button-meta, paddingTB) map-get($button-meta, paddingLR);

      @include breakpoint(bp-large) {
        padding: map-get($button-meta, paddingTB) (map-get($button-meta, paddingLR) + 10px);
      }
    }

    &-small {
      $button-meta: map-get($button-sizes, small);

      border-radius: $button-border-radius;
      font-size: map-get($button-meta, fontSize);
      line-height: #{map-get($button-meta, lineHeight)}em;
      padding: map-get($button-meta, paddingTB) map-get($button-meta, paddingLR);

    }

    &-huge {
      $button-meta: map-get($button-sizes, huge);

      border-radius: $button-border-radius;
      font-size: map-get($button-meta, fontSize);
      line-height: #{map-get($button-meta, lineHeight)}em;
      padding: map-get($button-meta, paddingTB) map-get($button-meta, paddingLR);


      @include breakpoint(bp-large) {
        $button-meta: map-get($button-sizes, hugeLg);

        border-radius: $button-border-radius;
        font-size: map-get($button-meta, fontSize);
        line-height: #{map-get($button-meta, lineHeight)}em;
        padding: map-get($button-meta, paddingTB) map-get($button-meta, paddingLR);

      }

      i {
        font-size: 20px;
      }
    }

    &-large {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: $container-small-maxwidth;
      width: 100%;
    }

  }

  // colors
  &.button-primary {
    background-color: $brand-primary;
    border: 1px solid $brand-primary;
    color: $white;

    &:hover {
      color: $white;
    }
  }

  &.button-secondary {
    background-color: $brand-secondary;
    border: 1px solid $brand-secondary;
    color: $white;

    &:hover {
      color: $white;
    }
  }

  &.button-transparent {
    background-color: transparent;
    border: 1px solid transparent;
  }

  &.button-white {
    background-color: $white;
    border: 1px solid $white;
    color: $brand-primary;
  }

  &.button-green {
    background-color: $color-success;
    border-color: $color-success;
    color: $white;
  }

  &.button-red {
    background-color: $color-error;
    border-color: $color-error;
    color: $white;
  }

  &.button-gray-to-black {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#404040+0,040404+100 */
    background: #404040; /* Old browsers */
    background: -moz-linear-gradient(left, #404040 0%, #040404 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #404040 0%,#040404 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #404040 0%,#040404 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#404040', endColorstr='#040404',GradientType=1 ); /* IE6-9 */
  }

  &.button-red-to-darkred {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#404040+0,040404+100 */
    background: #eb2227; /* Old browsers */
    background: -moz-linear-gradient(left, #eb2227 0%, #b51619 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #eb2227 0%,#b51619 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #eb2227 0%,#b51619 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb2227', endColorstr='#b51619',GradientType=1 ); /* IE6-9 */
    //min-width: 200px;
  }

  // types
  &.button-outlined {
    background-color: transparent;
    border: 1px solid $brand-primary;
    color: $brand-primary;
  }


  &.button-disabled {
    cursor: default;
    opacity: .4;
  }

  &.button-only-icon {
    height: 43px;
    line-height: 43px;
    padding: 0;
    width: 43px;
    min-width: auto!important;
    i {
      margin-left: 0;
      margin-right: 0;
    }
  }

  // icons on buttons
  i {
    margin-bottom: -6px;
    margin-left: .8em;
    margin-right: .8em;
    position: relative;
    transition: all .3s ease;
    font-size:25px;

    &:last-child {
      margin-right: 0;
    }

    &:first-child {
      margin-left: 0;
    }

    &::before {
      float: left;
    }

    // fix vertical position on large icons
    &.fa-lg{
      margin-bottom: 0;
    }
  }
}

.button-link {
  color: $brand-primary;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;

  i {
    font-size: 18px;
    line-height: 14px;
    margin-bottom: -2px;
    margin-left: 4px;
    margin-right: 8px;
    transition: all .3s ease;

    &::before {
      float: left;
    }
  }
  // (animation rotating icon)
  &.button-link-rotated {
    i {
      transform: rotate(-180deg);
    }
  }
}

// button group
.button-group {
  white-space: nowrap;

  .button {
    display: inline-block;
    margin: 0;

    &:not(:first-child) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }

    &:not(:last-child) {
      border-bottom-right-radius: 0;
      border-right: 0;
      border-top-right-radius: 0;
    }
  }
}


/* slider buttons */

button.slick-arrow {
  background:  $red;
  &.slick-prev {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 40%;
    bottom: 0;
    @include bp(small){
      left: 5%;
      }
    @include bp(medium){
      left: 20%;
      }
    }
  &.slick-next {
    width: 42px;
    height: 42px;
    position: absolute;
    bottom: 0;
    right: 40%;
    @include bp(small){
      right: 5%;
      }
    @include bp(medium){
      right: 20%;
      }
    }
  }

button.slick-arrow i:first-child {
  margin-left: 0;
  position: relative!important;
  top: -1px!important;
  }