
/* TOP BAR */
.topbar {
  background: $gray-light;
  &.footer-topbar{
    background: $black;
    @include bp(large){
      display: none;
      }
    @include bp(small){
      display: block;
      }
  }
  color: #000;
  padding: 12px 0;
  @include bp(small){
    text-align: center;
  }
  h5 {
    font-size: $font-size-base-large + 5;
    letter-spacing: -1px;
    font-weight: 700;
    font-family: $heading-font;
    @include bp(small){
      line-height: 2;
      text-align: center;
    }
    @include bp(medium){
      line-height: 2;
      text-align: center;
    }
    @incude bp(large){
      width: 37%;
    }
    @include bp(huge){
      width: 40%;
    }
  }

  .input input  {
    background: #c8c8c8!important;
    color: #7f7f7f;
    font-weight: bold;
    font-size: 16px;
  }

  input {
    margin-left: 0;
    margin-right: 0;
    @include bp(small){
      margin: 12px 0;
      }
  }

  button {
    margin-left: 0;
    margin-right: 0;
  }

  .nf-field-container {

    margin-bottom: 0px!important;
  }

  .nf-before-form-content,.nf-after-form-content {
    display: none;
  }

  input#nf-field-11 {
    background-color: $brand-dark;
    font-family: $heading-font!important;
    font-weight: 600!important;
    @include bp(small){
      width: 100%!important;
      text-align: center!important;
      }
    @include bp(medium){
      width:100%!important;
      text-align: center!important;
      }
  }
}

/* NAVIGATION / LOGO */
.navbar {
  background: #fff;
  color: #000;
  margin-top: -1px;
  margin-bottom: 1px;
  .logo {
    height: 125px;
    img,svg {
      padding: 0 5px;
    }

    a {
      @include bp(small){
        margin: 0 auto;
      }
      @include bp(medium){
        margin: 0 auto;
      }
    }
  }

  nav.main-menu {
    ul {
      float: right;
      margin: 0;
      @include bp(medium){
        float:none;
      }
      li {
        display: inline-block;
        padding: 47px 0px;
        margin: 0;
        a {
          font-weight: bold;
          margin: 0 8px;
          font-size: $font-size-base-large;
          color: inherit;
          &:hover,&:active{
            color: $red;
          }
        }
      }
    }
  }

  @include bp(small){
    display: none;
    }
  @include bp(medium){
    display: none;
    }
}

.hero-section {
  @include bp(small){
    background-repeat: repeat-y;
    background-image: url(../img/hero-background.jpg);
  }
  @include bp(medium){
    background-repeat: repeat-y;
    background-image: url(../img/hero-background.jpg);
  }
}

div#hero-panels-wrapper {
  @include bp(small) {
    position: relative;
    top: 30px;
  }
  @include bp(medium) {
    position: relative;
    top: 60px;
  }
  @include  bp(huge){
    position: relative;
    top:100px;
  }
}

div#news-hero-panels-wrapper {
  @include bp(small) {
    position: relative;
    top: 25px;
    }
  @include bp(medium) {
    position: relative;
    top: 35px;
    }
  @include  bp(huge){
    position: relative;
    top:50px;
    }
  }

.hero-video-wrapper {
  position: absolute;
  width: 100%;
  height: 800px;
  @include bp(medium){
    height: 600px;
    }
  overflow: hidden;
  #video-background {
    width: 100%;
    z-index: -1000;
  }
}


