/**
 * LAYOUT
 */

.section {
  @include clearfix();

  padding-bottom: 20px;
  padding-top: 20px;

  @include breakpoint(bp-medium) {
    padding-bottom: 40px;
    padding-top: 40px;
  }

}

.container {
  margin: 0 auto;
  max-width: $container-maxwidth;
  padding-left: $grid-gutter-width / 2;
  padding-right: $grid-gutter-width / 2;
  width: 100%;

  @include breakpoint(bp-medium) {
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
  }
}

.container-medium {
  margin: 0 auto;
  max-width: $container-medium-maxwidth;
  padding-left: $grid-gutter-width / 2;
  padding-right: $grid-gutter-width / 2;

  @include breakpoint(bp-medium) {
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
  }
}

.container-small {
  margin: 0 auto;
  max-width: $container-small-maxwidth;
  padding-left: $grid-gutter-width / 2;
  padding-right: $grid-gutter-width / 2;

  @include breakpoint(bp-medium) {
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
  }
}

.full-width {
  @extend %full-width;
}

// separator
.separator {
  border-bottom: 1px solid $border-color;
}


// Specific selector for mobonaut. Must delete ASAP.
.main-wrap {
  overflow: hidden;
  position: relative;
  transition: padding .25s ease-in-out;

  @include breakpoint(bp-huge) {
    padding-left: 250px;
  }
}




.row.is-flex {
  display: flex;
  flex-wrap: wrap;
  }
.row.is-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
  }

/*
* And with max cross-browser enabled.
* Nobody should ever write this by hand.
* Use a preprocesser with autoprefixing.
*/
.row.is-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  }

.row.is-flex > [class*='col-'] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  }