

body.show-nav .mobile-menu {
  display: block;
  z-index: 99999999;
  // transitions / animations
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0);
  -webkit-transition: transform 500ms ease-in;
  transition: transform 500ms ease-in;
  }




body .mobile-menu {
  // transitions / animations
  -webkit-transform: translateY(-1024px);
  transform: translateY(-1024px);
  -webkit-transform: translate3d(0, -1024px, 0);
  transform: translate3d(0, -1024px, 0);
  -webkit-transition:  transform 500ms ease-out;
  transition: transform 500ms ease-out;

  }

/* mobile menu overlay */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 9999;
  text-transform: uppercase;
  text-align: center;
  max-height: 1024px;
  }

/* STYLING FOR MOBILE MENU CONTAINER (THAT SLIDES DOWN TO SHOW THE FULL MENU) */

/* mobile menu container */
.mobile-menu-container {
  max-width: 320px;
  margin: 0 auto;
  position: relative;
  top: 3%;
  vertical-align: middle;
  .logo {
    width: 150px;
    margin: 1em auto;
    }
}

/* mobile menu links */

.mobile-nav .menu-item {
  height: auto;
  letter-spacing: -1px;
  background-image: none;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.5;
}


/* mobile menu close link */
.mobile-home-link {
  margin: 0 20px;
  }


// menu open
.mobile-menu-wrapper {
  padding: 12px 0;
  &.fixed {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 9999;
  }
  .mobile-menu-toggle-wrapper {
    font-size: 24px;
    font-weight: 700;
    width: 100%;
    a {
      color: $white;
      text-decoration: none;
      &:hover {
        color: $white;
        }

      &:focus {
        color: $white;
        }
      &:active {
        color: $white;
        }
      }
    & .mobile-menu-toggle {
      position: relative;
      left: 3%;
    }
  }
  @include bp(large){
    display: none;
  }
  @include bp(huge){
    display: none;
  }
}

img.menu-icon {
  width: 3em;
  }

// menu close
.mobile-menu .mobile-menu-toggle-wrapper {
  padding: 12px 0;
  text-align: center;
  color: $red;
  font-size: 48px;
  cursor: pointer;
  }



/* TITLE */

nav.mobile-nav {
  ul {
    padding-left: 0!important;

  }
  li {
    display: none;
    &.animate-in{
      display: block;
      }
    list-style: none;
    //opacity: 0;
  }
  a{
    font-weight: bold;
    }
}