
/* place dropdown image to help with UI/UX */
select#nf-field-14,select#nf-field-21{
  background-image: url('/wp-content/themes/ntelicor-theme/img/angle-down.svg');
  background-size: 25px;
  background-position: center right 10px;
  background-repeat: no-repeat;
  }





.form-wrapper {

  .label-hidden .nf-field-label {
    display: none;
    }
  .nf-field-label,.nf-form-fields-required {
    display: none;
    }
  .nf-form-wrap.ninja-forms-form-wrap {
    margin-top: 100px;
    }
  .nf-error-msg {
    color: white;
    }
  #nf-field-8-wrap .nf-field-element {
    text-align: center;
    }
  //input#nf-field-8 {
  //  width: 200px;
  //  }
  }


/* ninja forms */


input.ninja-forms-field[type="button"] {
  padding: 0 40px 0 10px;
  text-align: left;
  background-image: url(/wp-content/themes/ntelicor-theme/img/arrow-alt-circle-right.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 25px;
  font-family: $basefont;
  }


.nf-error .ninja-forms-field {
  border: none!important;
  }

.ninja-forms-field, .nf-error-msg {
  color: $brand-dark;
  font-weight: 500!important;
  font-size: 22px!important;
  font-family: 'Barlow Semi Condensed', sans-serif;
  }
.ninja-forms-field {
  background: #fff;
  &::placeholder {
    color:$brand-dark;
    }
  }


/* file input styling */
.nf-form-content .nf-field-container.file_upload-container .field-wrap{
  border-radius: 17px!important;
  }

.file_upload-wrap .nf-field-label {
  font-family: "Barlow Semi Condensed", sans-serif !important;
  display: inline!important;
  margin: 0;
  position: absolute;
  color: $brand-dark;
  z-index: 9999;
  padding: 4px 10px;
  label{
    font-weight: 500!important;
    }
  span.ninja-forms-req-symbol {
    display: none;
    }
  }


.label-hidden .nf-field-label {
  display: none;
  }

button.nf-fu-fileinput-button {
  position: absolute;
  right: 0px;
  bottom: -10px;
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
  height: auto;
  background: #b6b4b5;
  color: #fff;
  font-family: "Barlow", sans-serif !important;
  font-size: 22px;
  line-height: 1;
  padding: 9px 20px;
  font-weight: 600;
  }


.nf-fu-progress {

  height: 40px!important;
  margin-bottom: 0!important;
  background-color: #fff!important;
  border-radius: 17px!important;

  }


.files_uploaded {
  p {
    margin: 0;
    height: 0;
    display: block;
    position: absolute;
    left: 125px;
    bottom: 30px;
    color: #18232f;
    font-family: "Barlow Semi Condensed", sans-serif !important;
    font-weight: 400;
    font-size: 15px;
    }
  a.delete {
    position: relative;
    font-size: 15px;
    font-weight: 400;
    margin: 0 5px;
    text-decoration: underline;
    }
  }

/* file upload animated bar */
.nf-fu-progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: rgba(0,255,0,.25)!important;
  //background-color: $gray-light!important;
  }