/*****************************
 *** SHAPES / LINES / ETC. ***
 ****************************/

.dash {
  margin-bottom: -10px;
  .header-title & {
    margin-bottom: 0;
    }
  width: 260px;
  height: 3px;
  background-image: url(/wp-content/themes/ntelicor-theme/img/dash-grey.png);
  background-repeat: no-repeat;
  }

.dash-red {
  margin-bottom: 10px;
  margin-left: 7px;
  background-image: url(/wp-content/themes/ntelicor-theme/img/dash-red.png);
  width: 225px;
  height: 10px;
  background-repeat: no-repeat;
  }


// first set of shapes
.home-shapes-wrap {
  width: 100%;
  position: absolute;
  margin: auto auto;
  left: 0px;
  right: 0px;
  //z-index: -1;
  margin-top: 25px;
  height:0;
  @include bp(small) {
    display: none;
    }

  @include bp(medium) {
    display: none;
    }
  }

.shape-left {
    position: absolute;
    background-image: url('/wp-content/themes/ntelicor-theme/img/hexagon-760x800.png');
    background-size: contain;
    background-repeat: no-repeat;
    left: -100px;
    top:100px;
    z-index: 0;
    width: 380px;
    height: 400px;
    opacity: .9;
  @include bp(small) {
    display: none;
    }

  @include bp(medium) {
    display: none;
    }
}

.shape-right {
    //-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    //clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    //background: #cb0000;
    position: absolute;
    background-image: url('/wp-content/themes/ntelicor-theme/img/hexagon-760x800.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 380px;
    height: 400px;
    opacity: .9;
    top:300px;
    right:-50px;
    z-index: 0;

  @include bp(small) {
    display: none;
  }

  @include bp(medium) {
    display: none;
  }
}


// second set of shapes
.home-shapes-wrap-2 {
  position: absolute;
  background-image: url(/wp-content/themes/ntelicor-theme/img/dashed-hexagon-no-fill-left.png);
  background-repeat: no-repeat;
  height: 1150px;
  width: 500px;
  top: 900px;
  left: -200px;
  @include bp(small) {
    display: none;
    }

  @include bp(medium) {
    display: none;
    }

  }

.hexagons-wrapper {
  width: 100%;
  height: 0px;
  @include bp(small) {
    display: none;
    }

  @include bp(medium) {
    display: none;
    }
  }

.hexagon-1 {
  position: absolute;
  background-image: url(/wp-content/themes/ntelicor-theme/img/hexagon-1520x1600.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 940px;
  height: 1000px;
  left: -300px;
  top: -150px;
  z-index: -1;
  opacity: .9;
  @include bp(landscape){
    left: -385px;
  }
  @media (min-width: 846px) and (max-width: 1023px){
    left: 0;
  }
}

.hexagon-2 {
  position: absolute;
  background-image: url(/wp-content/themes/ntelicor-theme/img/hexagon-380x400.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 225px;
  height: 225px;
  left: -150px;
  top: -100px;
  z-index: -2;
  opacity: .8;
  }


.home-shapes-wrap-3 {
  width: 100%;
  position: relative;
  margin: auto auto;
  left: 0px;
  right: 0px;
  @include bp(small) {
    display: none;
    }

  @include bp(medium) {
    display: none;
    }
  //z-index: -1;
  .hexagon-3:before {
    position: relative;
    top: 50px;
    background-image: url(/wp-content/themes/ntelicor-theme/img/sm-dashed-hexagon-no-fill.png);
    background-repeat: no-repeat;
    object-fit: contain;
    width: 500px;
    height: 500px;
    float: right;
    }
  }


/* BLOCKQUOTE SHAPES STYLING */

.left-quote {
  background-image: url(/wp-content/themes/ntelicor-theme/img/quotes-lt-4.png);
  width: 99px;
  height: 61px;
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;

  @include bp(small) {
    width: 69px;
    height: 31px;
  }

  @include bp(medium) {
    width: 69px;
    height: 31px;
  }

}

.right-quote {
  background-image: url(/wp-content/themes/ntelicor-theme/img/quotes-rt-4.png);
  width: 99px;
  height: 61px;
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
  clear: both;
  top: 32px;
  float: right;
  @include bp(small) {
    width: 69px;
    height: 31px;
  }

  @include bp(medium) {
    width: 69px;
    height: 31px;
  }
}




.picture-wrapper {
  position: absolute;
  right: 50px;
  top: 150px;
  z-index: -1;
  opacity: .9;
  @include bp(small){
    display: none;
  }
  @include bp(medium){
    display: none;
  }

}

.picture {
  position: absolute;
  width: 1000px;
  height: 600px;
  background-repeat: no-repeat;
  @include bp(landscape){
    display: none;
  }
}


.dashed-hexagon{
  z-index: 1;
  position: absolute;
  width:500px;
  height:500px;
  right:1%;
  top:150px;
  background-repeat: no-repeat;
  @include bp(small) {
    display: none;
  }

  @include bp(medium) {
    display: none;
  }
}