/* INSIDE PAGE SHAPES */


.lg-dashed-hexagon{
  background-image: url('/wp-content/themes/ntelicor-theme/img/sm-dashed-hexagon-no-fill.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 500px;
  height: 500px;
  position: absolute;
  right: 100px;
  @include bp(small) {
    display: none;
    }

  @include bp(medium) {
    display: none;
    }
}

.left-dashed-hexagon{
  position: absolute;
  background-image: url(../img/dashed-hexagon-no-fill-left.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 608px;
  width: 287px;
  top: 325px;
  left: -140px;
  z-index: 1;
  @include bp(small) {
    display: none;
    }

  @include bp(medium) {
    display: none;
    }
  @include bp(large){
    top: 225px;
    left:-200px;
    }
}

.left-red-hexagon{
  position: absolute;
  background-image: url('/wp-content/themes/ntelicor-theme/img/hexagon-760x800.png')!important;
  background-size: contain;
  background-repeat: no-repeat;
  width: 370px;
  height: 400px;
  left:-200px;
  top:300px;
  opacity: 1;
  z-index: 0;
  @include bp(small) {
    display: none;
    }

  @include bp(medium) {
    display: none;
    }
  @include bp(large){
    top:200px;
    left:-300px;
    }
}

.right-dashed-hexagon{
  position: absolute;
  background-image: url(../img/dashed-hexagon-no-fill-right.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 608px;
  width: 287px;
  bottom:600px;
  right:-85px;
  z-index: 2;
  @include bp(small) {
    display: none;
    }

  @include bp(medium) {
    display: none;
    }
  @include bp(large){
     right: -200px;
    }
  }

.right-red-hexagon {
  position: absolute;
  background-image: url('/wp-content/themes/ntelicor-theme/img/hexagon-760x800.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 280px;
  height: 300px;
  right:-75px;
  bottom:750px;
  opacity: 1;
  z-index: 1;
  @include bp(small) {
    display: none;
    }

  @include bp(medium) {
    display: none;
    }
  @include bp(large){
      right: -200px;
    }
  }