/**
 *  TYPOGRAPHY
 */

body {
  font: #{$font-weight-base} #{$font-size-base}/#{$line-height-base} $basefont;
  color: $text-body;

  @include breakpoint(bp-medium) {
    font-size: $font-size-base-medium;
  }

  @include breakpoint(bp-large) {
    font-size: $font-size-base-large;
  }
}

img {
  font-size: 12px;
  line-height: 1.3em;
}

p {
  line-height: 1.5;
  font-size: 22px;
  font-family: $basefont;
  margin: 1em 0;
}

/* ***************** */
/* HYPERLINK STYLING */
/* ***************** */
a {
  color: $brand-primary;
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  &.bold-link{
    font-weight: 700;
  }

  &.barlow {
    font-family: $heading-font!important;
  }

  &:hover {
    //color: rgba($brand-primary, .8);
    color: $red;
  }

  &:focus {
    color: $brand-primary;
  }
  &:active {
    color: $brand-primary;
  }
}

.current-menu-item {
  color: $red;
}
/* END HYPERLINK STYLING */
/* header titles */

.header-title {

}
.header-subtitle {
  margin: 0!important;

}


// titles commons
.text {
  &-huge, &-big, &-medium,&-giant {
    line-height: 1.3em;
    margin-bottom: .5em;
    margin-top: 1em;
    @include bp(small){
      margin-top: .5em;
      margin-bottom: .25em;
    }

  }

  &-thin{
    font-weight: 400!important;
    }
  // titles
  &-bold{
    font-weight: 700!important;
    }

  &-giant{
    font-family: $heading-font;
    font-weight: 700;
    font-size: 12em;
    letter-spacing: -5px;
    line-height: 1;
    }
  &-huge {
    font-family: $heading-font;
    font-weight: 700;
    font-size: 90px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -5px;
    @include bp(small) {
      font-size: 52px;
      letter-spacing: -2px;
      line-height: 1;
      }

    @include bp(medium) {
      font-size: 76px;
      letter-spacing: -2px;
      line-height: 1;
      }

    @include bp(large) {
      font-size: 90px;
      letter-spacing: -2px;
      line-height: 1;
      }
    @include bp(huge) {
      font-size: 96px;
      letter-spacing: -2px;
      line-height: 1;
      }

  }

  &-big {
    font-family: $heading-font;
    font-weight: 700;
    letter-spacing: -2px;
    line-height: 1;
    @include bp(small) {
      line-height: .85;
      font-size: 45px;
    }

    @include bp(medium) {
      line-height: .85;
      font-size: 55px;
    }

    @include bp(large) {
      line-height: .95;
      font-size: 65px;
    }
    @include bp(huge) {
      line-height: .95;
      font-size: 75px;
    }
  }

  &-medium {
    font-family: $heading-font;
    font-size: 1.8rem;
    line-height: 1;
    font-weight: 500;
    text-transform: none;
    letter-spacing: -1px;
  }

  &-small {
    font-size: 12px;

    @include breakpoint(bp-medium) {
      font-size: 14px;
    }
  }

  // force element to default font state.
  &-body {
    font-size: $font-size-base;
    line-height: 1.5em;

    @include breakpoint(bp-large) {
      font-size: $font-size-base-large;
    }
  }

  // Colours
  @each $type, $color in $background-color-map {
    &-#{$type} {
      color: $color;
    }
  }

  &-white {
    color: $white;
  }
  &-black {
    color: #000;
    }
}

.text-gray,
a.text-gray,
button.text-gray {
  color: $text-gray;
}

// Styles
.text-light {
  font-weight: 300;
}

.text-heavy {
  font-weight: 900;
  }

.text-normal {
  font-weight: 400;
}

.text-line-through {
  text-decoration: line-through;
}

.text-italic {
  font-style: italic;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-transform-none {
  text-transform: none;
}

.text-center {
  text-align: center;
}

.text-lato {
  font-family: 'Lato', sans-serif;
}

.small-line-height {
  line-height: .8!important;
}

// titles after titles
.text-with-subtitle {
  margin-bottom: 0!important;

  + .text-huge,
  + .text-big,
  + .text-medium,
  + .text-small, {
    word-break: break-word;
    margin-top: .5em;
  }
}


h1,
h2,
h3,
h4 {

  //font-weight: $heading-weight;
  &.subtitle{
    letter-spacing: -2px;
    }
}


.justify {
  text-align: justify;
  }


.panel-paragraph {
  margin: 25px auto;
  line-height: 1.5;
  font-size: 20px;
  font-family: $basefont;
  }

.paragraph,
.nf-form-fields-required,
.nf-field-label,
.nf-after-form-content,.nf-before-form-content,
.nf-response-msg {
  line-height: 1.5;
  font-size: 22px;
  font-family: $basefont;
  margin: 1em 0;
  &.smaller {
    font-size: 18px;
    }
  &.even-smaller {
    font-size: 16px;
  }
  @include bp(small){
    font-size: 24px;
  }
  @include bp(medium){
    font-size: 26px;
  }
  &-big {
    font-size: 28px;
    @include bp(small){
    font-size: 24px;
    }
    @include bp(medium){
      font-size: 26px;
    }
  }

  &.barlow {
    font-family: $heading-font!important;
  }
  &.barlow-thin {
    font-family: 'Barlow Semi Condensed', sans-serif!important;
    font-weight: 100;
    letter-spacing: -1px!important;
  }
  &.barlow-less-thin {
    font-family: 'Barlow Semi Condensed', sans-serif!important;
    font-weight: 400;
  }
  &.barlow-normal {
    font-weight: 500;
    font-size:20px;
    @include bp(small){
      font-size: 18px;
      }
    @include bp(medium){
      font-size: 19px;
      }
    }
  &.barlow-thick {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 700;
  }
  &.right-padding {
    padding: 0 55px 0 0;
  }
  &.bold {
    font-weight: bold;
  }
  &.small-letter-spacing {
    letter-spacing: -1px;
  }
  &.max-width {
    max-width: 80%;
    @include bp(small){
      max-width: 99%;
    }
  }

  &.subtitle{
    font-size: 30px;
    line-height: 1.25;
    letter-spacing: -2px;
  }
}


