

	{"title":"Job# 5337 Information Systems Architect VII - Charleston WV","desc":"<p><b>Position:<\/b> Information Systems Architect VII<br \/>\r\n<b>Type of Position<\/b>: Contract<br \/>\r\n<b>Location:<\/b> &nbsp;Charleston, WV<br \/>\r\n<b>Work Week<\/b>: 40 hour<br \/>\r\n<b>Citizen Requirement:&nbsp;<\/b>&nbsp;US Citizen Only, No Perm Resident (LPR)<br \/>\r\n<b>Other Requirements<\/b>:&nbsp;pass a government background check.<\/p>\r\n\r\n<p><b><u>General Description:<\/u><\/b><\/p>\r\n\r\n<p>This position description is for an on-site DBA who would provide users a stable, secure application environment. A successful candidate will design, support and maintain the customer&rsquo;s OS2200-based hierarchical (DMS) and relational databases (RDMS). A strong understanding of SQL standards, diagnostics and performance tuning is a must. This position will be on-site working with the customer&rsquo;s IT staff. The candidate selected for this position will provide support for OS2200 logical and physical database design, maintenance, and growth. The types of database maintenance to be performed include the addition, modification, or deletion of database records and the addition, modification, or deletion of fields in database records. Other database maintenance areas would involve the analysis and addition of access mechanisms to improve the performance of database queries. Coordination of the data dictionary for the Client OS2200 databases would also be required.&nbsp;<\/p>\r\n\r\n<ul>\r\n\t<li>Able to work as a team player in a dynamic and challenging environment.&nbsp;<\/li>\r\n\t<li>Perform logical and physical database design for OS2200 DMS hierarchical and OS2200 RDMS relational databases.&nbsp;<\/li>\r\n\t<li>Coordinate, maintain and monitor OS2200 IRU to backup and restore OS2200 Databases to include alternate methods of business resumption and disaster recovery.&nbsp;<\/li>\r\n\t<li>Code and interpret schemas and subschemas for OS2200 DMS hierarchical and OS2200 RDMS relational databases.<\/li>\r\n\t<li>Create and perform database reorganizations for OS2200 DMS hierarchical databases.&nbsp;<\/li>\r\n\t<li>Create programs to perform database unloads and reloads, as needed, for OS2200 DMS and OS2200 RDMS database maintenance functions.&nbsp;<\/li>\r\n\t<li>Create hierarchical (DMS) database maintenance routines, as needed, using OS2200 DMU and DRU utilities.&nbsp;<\/li>\r\n\t<li>Coordinate and maintain the data dictionary using the Unisys UREP products.&nbsp;<\/li>\r\n\t<li>Proactively monitor the sizes of Unisys OS2200 DMS and RDMS databases and proactively develop and execute plans to increase sizes of databases and make recommendations on purge and archive processes to deal with the removal of old records.<\/li>\r\n\t<li>Proactively monitor OS2200 DMS DARP and SARP page usage for handling the storage of additional records onto overflow pages.&nbsp;<\/li>\r\n\t<li>Perform capacity planning for OS2200 DMS and RDMS databases to plan for disk storage capacity to meet the needs of current and upcoming applications.&nbsp;<\/li>\r\n\t<li>Understand the nature of both TIP and EXEC files used in OS2200 Database and the necessary tools manage these files.&nbsp;<\/li>\r\n\t<li>Assist in diagnosing and addressing application issues in programs that use OS2200 DMS and RDMS databases.<br \/>\r\n\t<br \/>\r\n\t&nbsp;<\/li>\r\n<\/ul>\r\n","contact":13047,"job":5337}


<!--

<div id="resume-overlay"></div>
<div id="submit-resume">
  <div id="close-resume">close</div>
  <form id="submit-resume-form" action="#bullhorn-messages" method="post" enctype="multipart/form-data">
    <input type="hidden" value="" name="job_id" id="job-id-input" />
    <input type="hidden" value="" name="job_title" id="job-title-input" />
    <input type="hidden" value="" name="contact_id" id="contact-id-input" />
    <img src="/bullhorn/images/bullhorn/resume_header.png" />
    <div id="job-title">JOB TITLE: <span id="job-title-text"></span></div>
    <div class="text-field"><div>FIRST NAME</div><input class="required" type="text" name="first_name" /></div>
    <div class="text-field"><div>LAST NAME</div><input class="required" type="text" name="last_name" /></div>
    <div class="text-field"><div>EMAIL ADDRESS</div><input id="resume-email" class="required" type="text" name="email" /></div>
    <div class="text-field confirm"><div>CONFIRM EMAIL</div><input class="required confirm" type="text" name="confirm_email" /></div>
    <div class="text-field"><div>PHONE NUMBER</div><input class="required" type="text" name="phone" /></div>
    <div id="resume-file">ATTACH YOUR RESUME <span>(.DOC Files Only Please)</span><img id="choose-file" src="/images/bullhorn/file.png" alt="" /><div id="file-name"></div><input class="required" type="file" name="resume_file" /></div>
    <textarea class="js" default="COMMENTS (optional)" name="comments"></textarea>
    <input id="submit-form" type="submit" value="SUBMIT NOW" />
  </form>
</div>
-->